.table-custom {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

.table-custom th, .table-custom td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-custom th {
    background-color: #c52a35;
    color: white;
}

.table-custom tr:nth-child(even) {
    background-color: #f2f2f2;
}